{% extends "base.html" %}

{% block content %}

<form>
  <div id="input-container">
    <label id="label1" for="input1">Your Label</label><i style="cursor: pointer;margin-left: 0.5em;" id="edit1"
      class="fas fa-edit"></i>
    <input name="input1" id="hiddenInput1" style="display: none;" />
    <button id="change1" style="display: none;" class="btn btn-success btn-sm">Change</button>

    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter Info">

  </div>
  <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
  <p style="display: none;" id="generated-link">Link </p>
  <button class="btn btn-primary" id="add-new-field">Add New Field</button>

  <button type="submit" class="btn btn-primary">Generate Link</button>
  <button class="btn btn-primary" id="log-field">Log Field</button>

</form>

<script>
  let fieldCount = 1;

  //function to edit the label
  function editLabel(fieldID) {
    document.querySelector(`#edit${fieldID}`).addEventListener("click", () => {
      document.querySelector(`#hiddenInput${fieldID}`).style.display = "inline"
      document.querySelector(`#change${fieldID}`).style.display = "inline-block"
      document.querySelector(`#edit${fieldID}`).style.display = "none"
      document.querySelector(`#label${fieldID}`).style.display = "none"
    })
  }
  //function to save the input from user to the label
  function saveInput(fieldID) {
    document.querySelector(`#change${fieldID}`).addEventListener("click", (e) => {
      console.log(`${fieldID} field ID`);
      e.preventDefault();
      const label1Content = document.querySelector(`#label${fieldID}`).textContent;
      const hiddenInput1 = document.querySelector(`#hiddenInput${fieldID}`).innerText = label1Content
      const hiddenInput1Value = document.querySelector(`#hiddenInput${fieldID}`).value;
      const label1 = document.querySelector(`#label${fieldID}`).innerText = hiddenInput1Value;
      if (hiddenInput1Value === "") {
        alert("Input is Empty")
      } else {

        document.querySelector(`#change${fieldID}`).style.display = "none"
        document.querySelector(`#hiddenInput${fieldID}`).style.display = "none"
        document.querySelector(`#edit${fieldID}`).style.display = "inline-block"
        document.querySelector(`#label${fieldID}`).style.display = "inline-block"
      }
    })
  }
  editLabel(1)
  saveInput(1)
  //function to add new field
  document.querySelector("#add-new-field").addEventListener("click", (e) => {
    fieldCount++;
    const newField =
      `  <label id="label${fieldCount}" for="input${fieldCount}">Your Label </label><i style="cursor: pointer;margin-left: 0.5em;" id="edit${fieldCount}" class="fas fa-edit"></i>
    <input id="hiddenInput${fieldCount}" style="display: none;" />
    <button id="change${fieldCount}" style="display: none;" class="btn btn-success btn-sm">Change</button>

    <input type="text" class="form-control" id="exampleInputEmail${fieldCount}" aria-describedby="emailHelp"
      placeholder="Enter Info">
    `
    e.preventDefault();
    document.querySelector("#input-container").insertAdjacentHTML("beforeend", newField);
    editLabel(fieldCount)
    saveInput(fieldCount)
  })
  document.querySelector("#log-field").addEventListener("click", () => {

  })

  $("#log-field").bind("click", (e) => {
    let labelArray = []
    e.preventDefault();
    console.log($("label"));
    $("label").each(function () {
      labelArray.push({
        labelID: $(this).attr("id"),
        labelText:$(this).text()
      })
    });
    fetch("/rec-user-form",{
      method:"POST",
      headers:{
        "Content-Type":"application/json"
      },
      body:JSON.stringify(labelArray)
    })
    .then(res=>{
      return res.json()
    })
    .then(data=>{
      document.querySelector("#generated-link").style.display="inline-block"
      $("#generated-link").html(
        `Link: localhost:5000/respond-form/?formID=${data.form._id}`
          );
      console.log(data);
    })

  })
</script>

{% endblock %}