{% extends "base.html" %}

{% block content %}

<h1>Google Docs Builder</h1>


<!-- <h1>Notifiable Data Breaches Scheme</h1> -->
<ul>
    {% if not user %}
    <!-- <li> -->
        <a class="btn btn-primary" href="{{oauth_url}}">Authorize</a>
    <!-- </li> -->
    {% endif %}
    <!-- <li>
        <a href="https://developers.google.com/docs/api" target="_blank" rel="nofollow">Documentation</a>
    </li> -->
</ul>

{% if user %}
    {% if  user.respondForm|length <= 0 %}
        <h1>User has no forms<hi />
    {% else %}
        <div class="form-group">
            <label for="document-title">Document Title</label>
            <input type="text" id="document-title" class="form-control" name="document-title"
                value="Document Title">
        </div>

        {% for form in user.respondForm %}
            <div style="margin: 20px 0px;" class="card">
                <div class="card-header">
                    {% for field in form.respondArray %}
                        {% if loop.last %}
                            {{field.inputLabel}}
                        {% else %}
                            {{field.inputLabel}} -
                        {% endif %}
                    {% endfor %}
                        <input type="checkbox" id="{{form.formId}}" style="float: right; width: 20px; height: 20px;" onclick="handleCheckboxClick(this)">
                        <div class="orderID" id="{{form.formId}}" style="float: right; margin-right: 20px; align-self: center;"></div>
                </div>
            </div>
        {% endfor %}
        <button id="submitButton" type="submit" class="btn btn-primary" onclick="handleSubmit();">Create</button>

    {% endif %}

<div id="document-result" class="alert badge badge-success"></div>
{% endif %}

<script>
    var checkBoxes = new Array;
    var checkBoxesToRemove = new Array;

    function handleCheckboxClick(element) {   
        if (checkBoxes.find(e => e == element.id)) {
            console.log("Removing");
            checkBoxesToRemove.push(element.id)
            removeCheckBoxNumbers();
            DrawCheckBoxNumbers();
        } else {
            console.log("Adding");
            checkBoxes.push(element.id);
            DrawCheckBoxNumbers();
        }
        
        function DrawCheckBoxNumbers() {
            for (let i = 0; i < checkBoxes.length; i++) {
                $("#"+checkBoxes[i])[0].nextElementSibling.innerText = (i+1).toString();
            }
        }
        
        function removeCheckBoxNumbers() {
            for (let j = 0; j < checkBoxesToRemove.length; j++) {
                checkBoxes = checkBoxes.filter(e => e != checkBoxesToRemove[j]);
                $("#"+checkBoxesToRemove[j])[0].nextElementSibling.innerText = "";
            }
            checkBoxesToRemove = new Array; 
        }
    }
    

    function handleSubmit() {
        event.preventDefault();
        $("#document-result").html("Creating document...");

        let data = [document.getElementById("document-title").value, checkBoxes];
        console.log(JSON.stringify(data));

        fetch("/make-document", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(res => res.json())
            .then(json => {
                $("#document-result").html(`<a href="${json['url']}"" target="_blank" rel="nofollow" class="badge-success" style="background-color:transparent !important;">View Document</a>`);
            })
            .catch(console.log)
    }
</script>

{% endblock %}