<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify Identity</title>
</head>

<body >
  <div style="margin: 10px;">
  <form style="width: 50%;" class="form-group">
    <label for="verifyCode">Verify Code</label>
    <input style="margin-bottom: 10px;" class="form-control" type="text" name="verifyCode" id="verifyCode">
    <button class="btn btn-primary" id="verify-btn">Verify</button>
  </form>
</div>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const formID = urlParams.get('formID');
    document.querySelector("#verify-btn").addEventListener("click", (e) => {
      e.preventDefault();
      console.log(formID);

      fetch(`/verify-form-redirect/?formID=${formID}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(document.querySelector("#verifyCode").value)
        })
        .then(res => {
          return res.json()
        })
        .then(data => {
          if (data.verify === false) {
            alert("Not Correct Code")
          } else {
            window.location.href = `/respond-form/?formID=${data.formID}`
            console.log(data);
          }
        })

    })
  </script>
</body>

</html>